<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.rssp.rssp.mapper.RsNetworkMapper" >
  <resultMap id="BaseResultMap" type="com.rssp.rssp.pojo.RsNetwork" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="time" property="time" jdbcType="VARCHAR" />
    <result column="last_time" property="lastTime" jdbcType="VARCHAR" />
    <result column="snapshot" property="snapshot" jdbcType="VARCHAR" />
    <result column="kind" property="kind" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="error_info" property="errorInfo" jdbcType="VARCHAR" />
    <result column="extend_one" property="extendOne" jdbcType="VARCHAR" />
    <result column="extend_two" property="extendTwo" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.rssp.rssp.pojo.RsNetwork" extends="BaseResultMap" >
    <result column="topology_json" property="topologyJson" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, title, time, last_time, snapshot, kind, status, error_info, extend_one, extend_two
  </sql>
  <sql id="Blob_Column_List" >
    topology_json
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.rssp.rssp.pojo.RsNetworkExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from rs_network
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.rssp.rssp.pojo.RsNetworkExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from rs_network
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from rs_network
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from rs_network
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.rssp.rssp.pojo.RsNetworkExample" >
    delete from rs_network
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.rssp.rssp.pojo.RsNetwork" >
    insert into rs_network (id, title, time, 
      last_time, snapshot, kind, 
      status, error_info, extend_one, 
      extend_two, topology_json)
    values (#{id,jdbcType=BIGINT}, #{title,jdbcType=VARCHAR}, #{time,jdbcType=VARCHAR}, 
      #{lastTime,jdbcType=VARCHAR}, #{snapshot,jdbcType=VARCHAR}, #{kind,jdbcType=INTEGER}, 
      #{status,jdbcType=INTEGER}, #{errorInfo,jdbcType=VARCHAR}, #{extendOne,jdbcType=VARCHAR}, 
      #{extendTwo,jdbcType=VARCHAR}, #{topologyJson,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.rssp.rssp.pojo.RsNetwork" >
    insert into rs_network
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="time != null" >
        time,
      </if>
      <if test="lastTime != null" >
        last_time,
      </if>
      <if test="snapshot != null" >
        snapshot,
      </if>
      <if test="kind != null" >
        kind,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="errorInfo != null" >
        error_info,
      </if>
      <if test="extendOne != null" >
        extend_one,
      </if>
      <if test="extendTwo != null" >
        extend_two,
      </if>
      <if test="topologyJson != null" >
        topology_json,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="time != null" >
        #{time,jdbcType=VARCHAR},
      </if>
      <if test="lastTime != null" >
        #{lastTime,jdbcType=VARCHAR},
      </if>
      <if test="snapshot != null" >
        #{snapshot,jdbcType=VARCHAR},
      </if>
      <if test="kind != null" >
        #{kind,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="errorInfo != null" >
        #{errorInfo,jdbcType=VARCHAR},
      </if>
      <if test="extendOne != null" >
        #{extendOne,jdbcType=VARCHAR},
      </if>
      <if test="extendTwo != null" >
        #{extendTwo,jdbcType=VARCHAR},
      </if>
      <if test="topologyJson != null" >
        #{topologyJson,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.rssp.rssp.pojo.RsNetworkExample" resultType="java.lang.Integer" >
    select count(*) from rs_network
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update rs_network
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.title != null" >
        title = #{record.title,jdbcType=VARCHAR},
      </if>
      <if test="record.time != null" >
        time = #{record.time,jdbcType=VARCHAR},
      </if>
      <if test="record.lastTime != null" >
        last_time = #{record.lastTime,jdbcType=VARCHAR},
      </if>
      <if test="record.snapshot != null" >
        snapshot = #{record.snapshot,jdbcType=VARCHAR},
      </if>
      <if test="record.kind != null" >
        kind = #{record.kind,jdbcType=INTEGER},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=INTEGER},
      </if>
      <if test="record.errorInfo != null" >
        error_info = #{record.errorInfo,jdbcType=VARCHAR},
      </if>
      <if test="record.extendOne != null" >
        extend_one = #{record.extendOne,jdbcType=VARCHAR},
      </if>
      <if test="record.extendTwo != null" >
        extend_two = #{record.extendTwo,jdbcType=VARCHAR},
      </if>
      <if test="record.topologyJson != null" >
        topology_json = #{record.topologyJson,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update rs_network
    set id = #{record.id,jdbcType=BIGINT},
      title = #{record.title,jdbcType=VARCHAR},
      time = #{record.time,jdbcType=VARCHAR},
      last_time = #{record.lastTime,jdbcType=VARCHAR},
      snapshot = #{record.snapshot,jdbcType=VARCHAR},
      kind = #{record.kind,jdbcType=INTEGER},
      status = #{record.status,jdbcType=INTEGER},
      error_info = #{record.errorInfo,jdbcType=VARCHAR},
      extend_one = #{record.extendOne,jdbcType=VARCHAR},
      extend_two = #{record.extendTwo,jdbcType=VARCHAR},
      topology_json = #{record.topologyJson,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update rs_network
    set id = #{record.id,jdbcType=BIGINT},
      title = #{record.title,jdbcType=VARCHAR},
      time = #{record.time,jdbcType=VARCHAR},
      last_time = #{record.lastTime,jdbcType=VARCHAR},
      snapshot = #{record.snapshot,jdbcType=VARCHAR},
      kind = #{record.kind,jdbcType=INTEGER},
      status = #{record.status,jdbcType=INTEGER},
      error_info = #{record.errorInfo,jdbcType=VARCHAR},
      extend_one = #{record.extendOne,jdbcType=VARCHAR},
      extend_two = #{record.extendTwo,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.rssp.rssp.pojo.RsNetwork" >
    update rs_network
    <set >
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="time != null" >
        time = #{time,jdbcType=VARCHAR},
      </if>
      <if test="lastTime != null" >
        last_time = #{lastTime,jdbcType=VARCHAR},
      </if>
      <if test="snapshot != null" >
        snapshot = #{snapshot,jdbcType=VARCHAR},
      </if>
      <if test="kind != null" >
        kind = #{kind,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="errorInfo != null" >
        error_info = #{errorInfo,jdbcType=VARCHAR},
      </if>
      <if test="extendOne != null" >
        extend_one = #{extendOne,jdbcType=VARCHAR},
      </if>
      <if test="extendTwo != null" >
        extend_two = #{extendTwo,jdbcType=VARCHAR},
      </if>
      <if test="topologyJson != null" >
        topology_json = #{topologyJson,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.rssp.rssp.pojo.RsNetwork" >
    update rs_network
    set title = #{title,jdbcType=VARCHAR},
      time = #{time,jdbcType=VARCHAR},
      last_time = #{lastTime,jdbcType=VARCHAR},
      snapshot = #{snapshot,jdbcType=VARCHAR},
      kind = #{kind,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      error_info = #{errorInfo,jdbcType=VARCHAR},
      extend_one = #{extendOne,jdbcType=VARCHAR},
      extend_two = #{extendTwo,jdbcType=VARCHAR},
      topology_json = #{topologyJson,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.rssp.rssp.pojo.RsNetwork" >
    update rs_network
    set title = #{title,jdbcType=VARCHAR},
      time = #{time,jdbcType=VARCHAR},
      last_time = #{lastTime,jdbcType=VARCHAR},
      snapshot = #{snapshot,jdbcType=VARCHAR},
      kind = #{kind,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      error_info = #{errorInfo,jdbcType=VARCHAR},
      extend_one = #{extendOne,jdbcType=VARCHAR},
      extend_two = #{extendTwo,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>