<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<h5> 1.可操作的命令</h5>
<ul>
    <li>
        <p>示例命令(不可缩写)</p>
        <p>Switch#enable</p>
        <p>Switch#conf t</p>
        <p>Switch(config)# vlan 10</p>
        <p>Switch(config-vlan)# name test</p>
        <p>Switch(config-if)#exit</p>
        <p>Switch(config)#interface fastethernet 0/1</p>
        <p>Switch (config-if)#no shutdown</p>
        <p>Switch(config-if)# switchport mode trunk</p>
        <p>Switch(config-if)# switchport mode access</p>
        <p>Switch(config-if)# switchport access vlan 10</p>
        <p>Switch (config-if)#ip address 192.168.1.1 255.255.255.0</p>
        <p>Switch(config-if)#exit</p>
        <p>Switch(config)#ip route 192.168.10.0 255.255.255.0 172.16.2.1</p>
        <p>Switch(config)#no ip route 192.168.10.0 255.255.255.0 172.16.2.1</p>
        <p>Router(config)#router rip</p>
        <p>Router(config-router)#network 192.168.1.0</p>
        <p>Switch# 【向上(下)键】</p>
        <p>host> ping 192.168.1.1</p>

    </li>
</ul>
<h5> 2.基本编辑器操作</h5>
<ul>
    <li>
        <p>设备区操作</p>
        <p>拖拽设备节点到编辑器：将鼠标移动到需要拖拽的图标,将需要的设备拖放到编辑区</p>
        <p>选择连线：单击不同的连线就可以选择不同形态的连线进行操作.</p>
    </li>

    <li>
        <p>编辑区操作</p>
        <p>在编辑区右上角选择不同的模式，可进行不同的操作，包括框选模式、编辑模式、鹰眼查看、设置连线箭头、开启辅助线。（按顺序）</p>
        <p>右键菜单：在编辑器空白区域单击鼠标右键,即可看到功能菜单.</p>
        <p>选择节点：按住Ctrl键不放，单击节点可以选择单个或者多个节点.</p>
    </li>
    <li>
        <p>属性区操作</p>
        <p>打开设备图标对应的属性面板</p>
        <p>在需要操作的设备上双击鼠标（或者将鼠标移动到设备上单击鼠标右键,在弹出菜单上选择"查看属性"）,在右侧区域即可看到打开的属性面板页面，</p>
    </li>

    <li>
        <p>连线操作</p>
        <p>在选择完连线类型后、左击设备选择连线端口，完成连线</p>
        <p>右击连线，即可对连线进行操作</p>
    </li>

</ul>

</body>
</html>